# ─── Expo ───────────────────────────────────────────
.expo/
dist/
web-build/

# ─── Node ───────────────────────────────────────────
node_modules/
npm-debug.log*

# ─── Env ────────────────────────────────────────────
.env
.env.local
.env.*.local

# ─── OS ─────────────────────────────────────────────
.DS_Store
Thumbs.db

# ─── IDE ────────────────────────────────────────────
.vscode/
.idea/

# ─── Native ─────────────────────────────────────────
android/
ios/
*.jks
*.p12
*.key
*.keystore
